<div class="content-wrapper">
    {{#if isAdmin}}
        <details id="importset-list" open>
            <summary class="mdc-typography--headline6">
                ImportSet auswählen
            </summary>
            <ul class="mdc-list mdc-list--two-line">
                {{#each importSets}}
                    <li class="mdc-list-item" tabindex="0">
                        <span class="mdc-list-item__ripple"></span>
                        <span class="mdc-list-item__text">
                            <span class="mdc-list-item__primary-text">
                                {{this.name}} von {{this.stage}}, enthält {{this.count}} Dokumente
                                {{#eq this.template "1"}}
                                    (Muster, mehrfach verwendbar){{/eq}}
                            </span>
                            <span class="mdc-list-item__secondary-text">
                                Erstellt von {{this.creator}} am {{timeStampToDate this.created}}
                            </span>
                        </span>
                        <span class="material-icons summary-icon-right add-importset"
                            onclick="useImportSet('{{JSONstringify this}}')">
                            check
                        </span>
                    </li>
                {{/each}}
            </ul>
        </details>
        <details id="importset-detail-list">
            <summary class="mdc-typography--headline6" id="importset-title">
                Kein ImportSet ausgewählt
            </summary>
            <ul class="mdc-list mdc-list--two-line" id="importset-details">
            </ul>
        </details>
        {{> checkbox title="In andere Akte importieren" id="import-into-another" class="hide"}}
        <div class="text-field-wrapper hide">
        </div>
        <br/>
        <br/>
        <div class="button-wrapper">
            {{> button title="Beenden" onclick="dapi.closeResourceIfMainResource();"}}
            {{> button title="Importieren" onclick="doImport()" additionalclass="button-right"}}
        </div>
        {{> snackbar }}
        {{> dialog question="Wollen Sie dieses Exportset wirklich exportieren?"}}
        <div id="metaData" data-meta="{{metaData}}"></div>
    {{else}}
        <header>
            <h1 class="mdc-typography--headline6 header-config">
                Sie sind nicht berechtigt Änderungen vorzunehmen.
            </h1>
        </header>
    {{/if}}
</div>